/*------------VARIABLES---------------*/

// Colors

$color-primary: #a10244;
$color-primary-light--1: #b6024d;
$color-primary-dark--1: #810237;
$color-primary-dark--2: #720231;

$color-secondary: #0a2248;
$color-black: #1f1f1f;
$color-gray-1: #e0dede;
$color-gray-2: #d8d8d8;
// $color-white: #f8f8f8;
$color-white: #f1f1ee;


//Fonts

$default-font: "Lato", sans-serif;
$header-font: 'Hind Siliguri', sans-serif;
$default-font-size: 1.6rem;

//-----------------Grid 

$grid-width: 114rem; //1140 px
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//-------------Utilities
  .u-center-text {
    text-align: center !important;
  }

  .u-margin-bottom-xl {
    margin-bottom: 10rem;
  }

  .u-margin-bottom-md {
    margin-bottom: 4rem;
  }

  .u-margin-bottom-sm {
    margin-bottom: 2rem;
  }

  .light {
    color: $color-white !important;
  }





/*---------------------BASE STYLES ---------------------*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    //Defines 1 rem. If default font is 16px, 1 rem = 10px.
    font-size: 62.5%;
}

body {
    box-sizing:border-box;
    max-width:100vw;
    min-height:100vh;
    background-color: $color-white;

}
