.footer {
    width: 100%;
    background-color:$color-primary-dark--1;
    padding: 2rem 0rem;


    &__container {
        width: 70%;
        margin: 0 auto;
        display:flex;
        flex-direction: column;
        // justify-content:space-around;
        align-items:center;
    }

    &__logo {
        margin-bottom:1rem;
        width: 20%;

        @include responsive(tab-port) {
            width: 30%;       
          }

          @include responsive(phone) {
            width: 50%;       
          }
    }
    &__list {
        display:flex;
        align-items:center;
        // width: 30%;
        list-style: none;
    }

    &__items {
        
        color: $color-white;
        font-size:1.4rem;
        &:not(:last-child){
            margin-right:3rem;
        }

        &:hover {
            transform: translateY(-2px);
        }

        a {
            text-decoration:none;
            color: $color-white;

         

        }
    }
}