.nav {
  max-width: 100%;
  background-color: $color-white;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;

  @include responsive(phone) {
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    width: 20rem;
    height: auto;
    @include responsive(phone) {
      margin-bottom: 1.5rem;
    }
  }
  &__contact {
    font-size:3rem;
    color: $color-primary;
    font-weight:400;


    @include responsive(tab-port) {
      font-size:2.5rem;
      font-weight: 600;
    }

    @include responsive(phone) {
order: 3;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    color: $color-primary;
    list-style: none;

    a {
      text-decoration: none;
      color: $color-primary;
    }
  }

  &__items {
    font-size: 1.8rem;
    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:hover {
      color: $color-primary-light--1;
      &:after{
        content:"";
        display: block;
        width: 90%;
        height: 2px;
        background-color: currentColor;
        margin: 0 auto;
      } 

    }

    &:active {
      transform:translateY(2px);
      color: $color-primary-dark--2;
    }
  }
}
